<h1>閲覧</h1>
<p>
  <strong>物件名:</strong>
  <%= @property.property_name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>住所:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>備考:</strong>
  <%= @property.note %>
</p>

<% @transportations.each do |transportation| %>

  <strong>路線名:</strong>
  <%= transportation.line_name %>


  <strong>駅名:</strong>
  <%= transportation.station_name %>

  <strong>徒歩分数:</strong>
  <%= transportation.walking_distance %>
<% end %>

<%= link_to '物件一覧に戻る', properties_path %>